// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
 * Projects
 */
.projects-table {
  border-spacing: 0;
  border-collapse: collapse;
  border: none
}

.project-row {
  vertical-align: top;

  td {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 50px;
    border: none;
  }

  .project-data {
    padding-left: 20px;
  }
}

/**
 * Img + Em caption
 */
img + em {
  font-size: 5px;
}

/**
 * Post Image
 */
.post-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // width: 199%;
}

/**
 * Post List Heading
 */
.post-list h3 {
  margin-bottom: 0px;
}
.project-data h3 {
  margin-bottom: 0px;
}